<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white"><h5>Registrar Nueva Vivienda</h5></div>
    <div class="card-body">
      <form [formGroup]="forms" (ngSubmit)="registrar()">
        <div class="row">
          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Nombre / Alias</mat-label>
            <input matInput formControlName="alias">
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Ciudad</mat-label>
            <input matInput formControlName="city">
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Dirección completa</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
        <div class="row">
          <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Tarifa (S/)</mat-label>
            <input matInput type="number" formControlName="energyTariff">
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Área (m²)</mat-label>
            <input matInput type="number" formControlName="squareMeters">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Tipo Propiedad</mat-label>
            <mat-select formControlName="idPropertyType">
                <mat-option [value]="-1">-- Seleccione --</mat-option>
                <mat-option *ngFor="let t of tipos" [value]="t.idDataCatalog">
                {{ t.value }} 
                </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-md-2 mt-2">
            <button mat-raised-button color="primary" class="w-100 p-4" [disabled]="forms.invalid">GUARDAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>