<div class="container mt-4 mb-5">
  <div class="card shadow-sm border-0" style="border-radius: 8px; overflow: hidden;">
    <div class="card-header text-white p-3" style="background: linear-gradient(90deg, #0f172a, #4f46e5);">
      <h5 class="mb-0 font-weight-bold">Registrar Nueva Vivienda</h5>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="forms" (ngSubmit)="registrar()">
        <div class="row">
          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Nombre / Alias</mat-label>
            <input matInput formControlName="alias">
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Ciudad</mat-label>
            <input matInput formControlName="city">
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Direcci&oacute;n completa</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
        <div class="row align-items-start">
          <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Tarifa (S/)</mat-label>
            <input matInput type="number" formControlName="energyTariff">
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="col-md-3">
            <mat-label>Area (m2)</mat-label>
            <input matInput type="number" formControlName="squareMeters">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Tipo Propiedad</mat-label>
            <mat-select formControlName="idPropertyType">
                <mat-option [value]="-1">-- Seleccione --</mat-option>
                <mat-option *ngFor="let t of tipos" [value]="t.idDataCatalog">
                {{ t.value }} 
                </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="col-md-2 mt-2">
            <button mat-raised-button color="primary" class="ev-glow-btn w-100 p-4 font-weight-bold" style="background-color: #4f46e5; color: #fff; border-radius: 8px; box-shadow: 0 10px 22px rgba(79,70,229,.24); transition: all .2s ease;" [disabled]="forms.invalid">GUARDAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
