<div class="hero-section">
    <div class="container text-center">
        <h1 class="display-4 fw-bold">{{ isLogged ? 'Llega más lejos, ' + tokenService.getUserName() : 'Tu Hogar, Más Inteligente' }}</h1>
        <p class="lead">{{ isLogged ? 'Escala tu potencia energética hoy mismo.' : 'Elige un plan y comienza a ahorrar.' }}</p>
    </div>
</div>

<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-4" *ngFor="let p of planes">
            <mat-card class="plan-card h-100 shadow border-0" 
                      [style.border-top]="p.idPlan === idPlanActual ? '5px solid #fbbf24' : 'none'">
                
                <div *ngIf="p.idPlan === idPlanActual" class="bg-warning text-dark text-center small fw-bold py-1">
                    TU PLAN ACTUAL
                </div>

                <mat-card-header class="d-block text-center pt-4">
                    <mat-card-title class="h3">{{p.name}}</mat-card-title>
                    <div class="price-tag my-3">S/ {{p.monthlyPrice}}</div>
                </mat-card-header>
                
                <mat-card-content class="text-center px-4">
                    <p>{{p.description}}</p>
                    <div class="d-flex align-items-center justify-content-center mb-3">
                        <mat-icon color="primary">bolt</mat-icon>
                        <span class="ml-2">Límite: <b>{{p.deviceLimit}}</b> dispositivos</span>
                    </div>
                </mat-card-content>

                <mat-card-actions class="justify-content-center pb-4">
                    <button mat-raised-button 
                            [disabled]="p.idPlan === idPlanActual"
                            [color]="p.idPlan === idPlanActual ? '' : 'primary'"
                            style="border-radius: 20px; padding: 10px 40px;"
                            (click)="ejecutarAccion(p.idPlan)">
                        
                        {{ isLogged ? (p.idPlan === idPlanActual ? 'PLAN ACTIVO' : 'MEJORAR AHORA') : 'ELEGIR PLAN' }}
                        
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>