<nav class="navbar navbar-expand-lg navbar-dark shadow" style="background-color: #1b4332; padding: 0.8rem 1rem;">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/" style="font-weight: 700; cursor: pointer;">
      <mat-icon class="mr-2">bolt</mat-icon> ECOVOLT
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/" style="cursor: pointer;">
            <mat-icon class="mr-1" style="font-size: 20px;">layers</mat-icon> Ver Planes
          </a>
        </li>

        <ul class="navbar-nav mr-auto">
          <!-- DROPDOWN REGISTROS (Tipo 1) -->
          <li class="nav-item dropdown" *ngIf="isLogged && opcRegistro.length > 0">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Registros</a>
            <div class="dropdown-menu shadow border-0">
              <a *ngFor="let aux of opcRegistro" class="dropdown-item" (click)="navegar(aux.route)" style="cursor: pointer;">
                {{ aux.name }}
              </a>
            </div>
          </li>

          <!-- DROPDOWN CONSULTAS (Tipo 2) -->
          <li class="nav-item dropdown" *ngIf="isLogged && opcConsulta.length > 0">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Consultas</a>
            <div class="dropdown-menu shadow border-0">
              <a *ngFor="let aux of opcConsulta" class="dropdown-item" (click)="navegar(aux.route)" style="cursor: pointer;">
                {{ aux.name }}
              </a>
            </div>
          </li>
        </ul>

        <!-- DROPDOWN MANTENIMIENTO -->
        <li class="nav-item dropdown" *ngIf="isLogged && opcCRUD.length > 0">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Mantenimiento</a>
          <div class="dropdown-menu shadow border-0">
            <a *ngFor="let aux of opcCRUD" class="dropdown-item" (click)="navegar(aux.route)" style="cursor: pointer;">
              {{ aux.name }}
            </a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLogged">
          <a class="btn btn-outline-light px-4" style="border-radius: 20px;" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLogged">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="javascript:void(0)" data-toggle="dropdown">
            <mat-icon class="mr-2">account_circle</mat-icon> {{ nombreUsuario }}
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow border-0">
            <a class="dropdown-item text-danger d-flex align-items-center" (click)="onLogOut()" style="cursor:pointer">
                <mat-icon class="mr-2" style="font-size: 18px;">power_settings_new</mat-icon> Cerrar Sesión
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>