.chart-container {
    height: 330px;
    position: relative;
    width: 100%;
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.chart-container-pie {
    height: 310px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.chart-container-pie canvas {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 768px) {
    .chart-container {
        height: 300px;
    }

    .chart-container-pie {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .chart-container {
        height: 250px;
    }

    .chart-container-pie {
        height: 250px;
    }
}
